# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Build artifacts
/dist/
/.astro/

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
