---
---
<footer>
  <div class="container mx-auto px-5">
    <div class="py-10 flex flex-col items-center">
      <p class="text-center mt-8 text-xs text-gray-500 sm:mt-0">
        Copyright &copy; 2025 Decoding Disney. All rights reserved. Built
        with 🔥 in Cincinnati, Ohio.
      </p>
    </div>
  </div>
</footer>
